#title{
    color: white;
    text-align: center;
    margin: 0 auto;
    width: 30%;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;

}

body{
<<<<<<< HEAD
    background-color:#2E9AFE
=======
    background-color: #01A9DB;
>>>>>>> 4c20a159ffbdc1e757b20d31a8f6afc8b22ef859
}

.box1{
    background-color: #FAFAFA;
    padding: 10px;
    width: 30%;
    margin: 0 auto;
}

.inputStyle{
    width: 100%;
}

.btnStyle{
    width: 100%;
    border: none;
    background-color: #2E64FE;
    color: white;
    padding: 5px;
}

.bold{
    font-weight: bold;
}

.noTextInfo{
    float: right;
    color: red;
    visibility: hidden;
}

#nameTitle{
    color: rgb(14, 0, 95);
<<<<<<< HEAD
    font-size: 40px;
    font-weight: bold;
    text-align: center;
=======
    font-size: 50px;
    font-weight: bold;
>>>>>>> 4c20a159ffbdc1e757b20d31a8f6afc8b22ef859
}

#container1{
    background-color: rgb(224, 224, 224);
<<<<<<< HEAD
    height: 1000px;
=======
    height: 800px;
>>>>>>> 4c20a159ffbdc1e757b20d31a8f6afc8b22ef859
}

#profilImage{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #BDBDBD;
    margin-left: 50px;
    margin-top: 20px;
}

#profilImage:hover{
    cursor: pointer;
<<<<<<< HEAD
}

#leftColumn{
    background-color:#D8D8D8;
    height: 1000px;
}

#menu{
    margin-left: 50px;
    margin-top: 50px;
}

#menu a{
    font-weight: bold;
    text-decoration: none;
=======
>>>>>>> 4c20a159ffbdc1e757b20d31a8f6afc8b22ef859
}