#title{
    color: white;
    text-align: center;
    width: 30%;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;

}

.bodyGray{
    background-color: gray;
}

.box1{
    background-color: #FAFAFA;
    padding: 10px;
    width: 30%;
    margin: 0 auto;
}

.inputStyle{
    width: 100%;
}

.btnStyle{
    width: 100%;
    border: none;
    background-color: #2E64FE;
    color: white;
    padding: 5px;
}

.bold{
    font-weight: bold;
}

.noTextInfo{
    float: right;
    color: red;
    visibility: hidden;
}

#nameTitle{
    color: rgb(14, 0, 95);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    float: left;
    WIDTH: 100%;
}

#container1{
    background-color: rgb(224, 224, 224);

}

#profilImage{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #BDBDBD;
    margin-left: 50px;
    margin-top: 20px;
    float: left;
}

#profilImage:hover{
    cursor: pointer;
}

#leftColumn{
    background-color:#D8D8D8;
    height: 1000px;
}

#menu{
    margin-top: 50px;
}

#menu a{
    font-weight: bold;
    text-decoration: none;
}

#phonebookDiv{
    width: 100%;
    height: 100px;
    background-color: yellow;
    color: red;
    margin-top: -700px;
}

#todoDiv{
    width: 100%;
    height: 100px;
    background-color: rgb(9, 94, 37);
    color: red;
    visibility: hidden;
}

#logout{
    font-weight: bold;
    color: red;
}

#profilTitle{
    width: 10%;
    background-color: #2E64FE;
    color: white;
}

#mainBody{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(8,7,104,1) 30%, rgba(7,86,150,1) 67%, rgba(0,212,255,1) 100%);
    height: 100vh;
}

#welcomeTitle{
    color: white;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
}

#welcomeTitleSmall{
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: -10px;
}

#buttonField{
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

.welcomeButtons{
    width: 120px;
    height: 60px;
    margin: 10px;
    margin-top: -20px;
    border: 2px solid blue;
    border-radius: 10px;
    font-weight: bold;
    color: blue;
}

#welcomeText{
    color: white;
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
}

#signinForm{
    float: left;
    display: inline;
}

#signupForm{
    float: right;
}

#signupForm button{
    background-color: lightblue;
}

#header{
    width: 40%;
    float: left;
/*     margin-left: 20px; */
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: blue;
    margin: 0 auto;
    background-color: red;
}

#rememberMe{
    width: 30%;
    color: green;
    float: left;
    margin-top: 2px;
    margin-right: 50px;
    margin-bottom: 30px;
    width: 50%;
}

#logOut{
    font-weight: bold;
    color: rgb(196, 42, 42)
}

#statusField{
    background-color: #FAFAFA;
    width: 100%;
    height: 140px;
    margin-bottom: 50px;
    -webkit-box-shadow: -4px 5px 11px -6px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 5px 11px -6px rgba(0,0,0,0.75);
box-shadow: -4px 5px 11px -6px rgba(0,0,0,0.75);

}

#addStatusText{
    width: 90%; 
    margin: 0 auto;
    height: 50px;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 10px;
    
}

.homeIcons{
    color: blue;
    float: right;
    margin-top: 22px;
    float: left;
    width: 20px;
    background-color: #FAFAFA;
    margin-right: 25px;
}

#bodyOfThePage{
    background-color:#FAFAFA;
}



.back{
    font-weight: bold;
    font-size: 20px;
    color: blue;
    margin-top: 15px;
}

.statusBox{
    background-color: white;
    width: 100%;
    padding: 20px;
    margin-top: 3px;
}

#statusRow{
    margin-top: 25px;
}

.statusBoxName{
    font-size: 15px;
    color: blue;
    font-weight: 600;
}

.statusBoxText{
    overflow: none;
}