
/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 575px) { 

    #title{
        color: #2E64FE;
        text-align: center;
        width: 100%;
    }

    #leftColumn{
        background-color: #FAFAFA;
    }

    body{
        background-color:#FAFAFA
    }
    
    .box1{
        width: 100%;
    }

    .offcanvas.show:not(.hiding), .offcanvas.showing {
        transform: none;
        width: 100%;
    }

    .bg-body-tertiary{
        width: 20%;
        position: relative;
        float: right;
    }

    #nameTitle{
        width: 70%;
        margin-top: 5px;
    }

    .bodyGray{
        background-color: #D8D8D8;
    }

    #addIcon{
        width: 80px;
        height: 80px;
        background-color: #CEF6EC;
        font-size: 52px;
        font-weight: bold;
        float: right;
        border-radius: 50%;
        text-align: center;
        margin-top: 550px;
        margin-right: 20px;
        color: #00ff22;
        border: 1px solid #00ff22;
        /* -webkit-box-shadow: -2px 20px 21px -10px rgba(0,0,0,0.44);
        -moz-box-shadow: -2px 20px 21px -10px rgba(0,0,0,0.44);
        box-shadow: -2px 20px 21px -10px rgba(0,0,0,0.44); */
    }

    .navbar-toggler{
        border: none;
    }

    .container{
        width: 100%;
    }

    #header{
        text-align: left;
        margin-bottom: 10px;
        padding: 5px;
        -webkit-box-shadow: 3px 17px 14px -22px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 17px 14px -22px rgba(0,0,0,0.75);
        box-shadow: 3px 17px 14px -22px rgba(0,0,0,0.75)
    }
}

.bg-body-tertiary{
    height: 55px;
}

.navbar>.container-fluid{
    margin-top: -8px;
}

@media (min-width: 576px) {
    #title{
        color: #2E64FE;
        width: 100%;
    }

    #leftColumn{
        background-color: #FAFAFA;
    }

    body{
        background-color:#FAFAFA
    }
    
    .box1{
        width: 100%;
    }

    .offcanvas.show:not(.hiding), .offcanvas.showing {
        transform: none;
        width: 100%;
    }

    .bg-body-tertiary{
        width: 20%;
        position: relative;
        float: right;
    }

    
    #nameTitle{
        width: 70%;
        margin-top: 5px;
    }

    #addIcon{
        width: 100px;
        height: 100px;
        background-color: #A9F5D0;
        font-size: 60px;
        font-weight: bold;
        float: right;
        border-radius: 50%;
        text-align: center;
        margin-top: 800px;
        margin-right: 40px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body{
        background-color:#2E9AFE
    }
    .box1{
        width: 60%;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .box1{
        width: 30%;
    }

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}