
/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 575px) { 

    #title{
        color: #2E64FE;
        text-align: center;
        width: 100%;
    }

    #leftColumn{
        background-color: #FAFAFA;
    }

    body{
        background-color:#FAFAFA
    }
    
    .box1{
        width: 100%;
    }

    .offcanvas.show:not(.hiding), .offcanvas.showing {
        transform: none;
        width: 100%;
    }

    .bg-body-tertiary{
        width: 20%;
        position: relative;
        float: right;
    }

    #nameTitle{
        width: 70%;
        margin-top: 5px;
    }

    .bodyGray{
        background-color: #D8D8D8;
    }

    #addIcon{
        width: 80px;
        height: 80px;
        background-color: #CEF6EC;
        font-size: 52px;
        font-weight: bold;
        float: right;
        border-radius: 50%;
        text-align: center;
        margin-top: 550px;
        margin-right: 20px;
        color: #00ff22;
        border: 1px solid #00ff22;
        /* -webkit-box-shadow: -2px 20px 21px -10px rgba(0,0,0,0.44);
        -moz-box-shadow: -2px 20px 21px -10px rgba(0,0,0,0.44);
        box-shadow: -2px 20px 21px -10px rgba(0,0,0,0.44); */
    }

    .navbar-toggler{
        border: none;
    }

    .navbar>.container-fluid{
        margin-right: -15px;
    }

    .container{
        width: 100%;
    }

    #header{
        width: 40%;
        background-color: #FAFAFA;
        float: left;
        margin-left: 20px;
        text-align: left;
        margin-bottom: 10px;
        padding: 5px;
        font-size: 25px;
    }

    
.bg-body-tertiary{
    height: 55px;
}

.navbar>.container-fluid{
    margin-top: -8px;
    background-color: #FAFAFA;
}

.container{
    width: 100%;
}

.homeIcons{
    color: blue;
    float: right;
    margin-top: 18px;
    float: left;
    width: 20px;
    background-color: #FAFAFA;
    margin-right: 22px;
}
    
.bg-body-tertiar{
    width: 10%;
}

.back{
    width: 10%;
    float: left;
/*     margin-top: 15px; */
}

#search{
    width: 85%;
    float: right;
    height: 40px;
    background-color: lightgray;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

#statusCreate{
    width: 100%;
    margin-left: 20px;
    margin-top: 20px;
}

#status{
    width: 85%;
    background-color: #FAFAFA;
    font-size: 30px;
    border: 1px solid lightgray;
    height: 300px;
    background-color: white;
}

#updateStatusButton{
    width: 85%;
    background-color: rgb(96, 96, 255);
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

#statusBack{
    width: 100%;
}

}

@media (min-width: 576px) {
    #title{
        color: #2E64FE;
        width: 100%;
    }

    #leftColumn{
        background-color: #FAFAFA;
    }

    body{
        background-color:#FAFAFA
    }
    
    .box1{
        width: 100%;
    }

    .offcanvas.show:not(.hiding), .offcanvas.showing {
        transform: none;
        width: 100%;
    }

    .bg-body-tertiary{
        width: 20%;
        position: relative;
        float: right;
    }

    
    #nameTitle{
        width: 70%;
        margin-top: 5px;
    }

    #addIcon{
        width: 100px;
        height: 100px;
        background-color: #A9F5D0;
        font-size: 60px;
        font-weight: bold;
        float: right;
        border-radius: 50%;
        text-align: center;
        margin-top: 800px;
        margin-right: 40px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body{
        background-color:#2E9AFE
    }
    .box1{
        width: 60%;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .box1{
        width: 30%;
    }

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}